html,
body {
    font-family: 'Open Sans', Arial, sans-serif;
    overflow: auto !important;
}


.left-side{
    border-right: solid #99A2A2;
    position: fixed;
    left: 0;


}
p{
    padding-left: 20px;
}

.title{
    font-size: 30px;
    text-align: center;
    padding: 10px;
    color: #2F2F2F;
}

.right-side{
    padding: 30px;
    margin-left: 370px;
}

code{
    background-color: #F7F7F7;
    color: #4D4E53 !important;
    padding: 20px;
}

#content-plan a {
    border-top: 1px solid #99A2A2;
    color: #969699;
}

.navbarSection{
    height:540px;
    overflow-y:auto;
    margin-right: -10px;
}